h1{
    font-family: 'Commissioner', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
.p_form{
    font-family: 'Poppins', sans-serif;
}

/*css btn voltar*/
#voltar{
    color: #333333;
    transition-duration: 0.2s;
    position: relative;
    padding-right: 5px;
}
#voltar:hover{
    text-shadow:0 0 5px #222;
    animation: mymove 0.2s;
    animation-fill-mode:forwards;
    animation-timing-function: ease;
}
#voltar:not(:hover){
    animation: mymoveback 0.2s;
    animation-timing-function: ease;
}
@keyframes mymove {
    from {left: 0px;}
    to {left: 4px;}
}
@keyframes mymoveback {
    from {left: 4px;}
    to {left: 0px;}
}
/*btn voltar FIM*/

.tab{
    background-color: #abbeec;
    border: 2px solid #587ac8;
    border-radius: 5px;
}
.tab thead, th{
    font-family: 'Commissioner', sans-serif;
    border-right: 2px solid #587ac8;
    border-bottom: 2px solid #587ac8;
    border-radius: 2px;
}
.tab tbody{
    font-family: 'Poppins', sans-serif;
}

.options{
    width: 80px;
    text-align: center;   
}
#alter{
    color: white;
    background-color: #31923a;
    transition-duration: 0.2s;
}
#alter:hover{
    color: #31923a;
    background-color: white;
}
#excluir{
    color: white;
    background-color: #da5252;
    transition-duration: 0.2s;
}
#excluir:hover{
    color: #da5252;
    background-color: white;
}
.option{
    margin: 0 0 0 0;
    border-radius: 5px;
}

