<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletBD</servlet-name>
        <servlet-class>PacoteServlet.ServletBD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarClientes</servlet-name>
        <servlet-class>PacoteServlet.ListarClientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarClientes</servlet-name>
        <servlet-class>PacoteServlet.CadastrarClientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarClientes</servlet-name>
        <servlet-class>PacoteServlet.EditarClientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarClientes</servlet-name>
        <servlet-class>PacoteServlet.AlterarClientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarCliente</servlet-name>
        <servlet-class>PacoteServlet.AlterarClientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirClientes</servlet-name>
        <servlet-class>PacoteServlet.ExcluirClientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarProduto</servlet-name>
        <servlet-class>PacoteServlet.ListarProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarProduto</servlet-name>
        <servlet-class>PacoteServlet.AlterarProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirProduto</servlet-name>
        <servlet-class>PacoteServlet.ExcluirProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarProduto</servlet-name>
        <servlet-class>PacoteServlet.CadastrarProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarVendas</servlet-name>
        <servlet-class>PacoteServlet.ListarVendas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarRelatorio</servlet-name>
        <servlet-class>PacoteServlet.ListarRelatorio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarVenda</servlet-name>
        <servlet-class>PacoteServlet.CadastrarVenda</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletBD</servlet-name>
        <url-pattern>/ServletBD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarClientes</servlet-name>
        <url-pattern>/ListarClientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarClientes</servlet-name>
        <url-pattern>/CadastrarClientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarClientes</servlet-name>
        <url-pattern>/EditarClientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarClientes</servlet-name>
        <url-pattern>/AlterarClientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarCliente</servlet-name>
        <url-pattern>/AlterarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirClientes</servlet-name>
        <url-pattern>/ExcluirClientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarProduto</servlet-name>
        <url-pattern>/ListarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarProduto</servlet-name>
        <url-pattern>/AlterarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirProduto</servlet-name>
        <url-pattern>/ExcluirProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarProduto</servlet-name>
        <url-pattern>/CadastrarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarRelatorio</servlet-name>
        <url-pattern>/ListarRelatorio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarVenda</servlet-name>
        <url-pattern>/CadastrarVenda</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
