<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletBD</servlet-name>
        <servlet-class>PacoteServlet.ServletBD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarClientes</servlet-name>
        <servlet-class>PacoteServlet.ListarClientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarClientes</servlet-name>
        <servlet-class>PacoteServlet.CadastrarClientes</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletBD</servlet-name>
        <url-pattern>/ServletBD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarClientes</servlet-name>
        <url-pattern>/ListarClientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarClientes</servlet-name>
        <url-pattern>/CadastrarClientes</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
