<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>Acesso</filter-name>
        <filter-class>Filtro.Acesso</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Acesso</filter-name>
        <url-pattern>/Protegido/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>ServletBD</servlet-name>
        <servlet-class>PacoteServlet.ServletBD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarClientes</servlet-name>
        <servlet-class>PacoteServlet.ListarClientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarClientes</servlet-name>
        <servlet-class>PacoteServlet.EditarClientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarClientes</servlet-name>
        <servlet-class>PacoteServlet.AlterarClientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarCliente</servlet-name>
        <servlet-class>PacoteServlet.AlterarClientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirClientes</servlet-name>
        <servlet-class>PacoteServlet.ExcluirClientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarProduto</servlet-name>
        <servlet-class>PacoteServlet.ListarProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarProduto</servlet-name>
        <servlet-class>PacoteServlet.AlterarProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirProduto</servlet-name>
        <servlet-class>PacoteServlet.ExcluirProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarProduto</servlet-name>
        <servlet-class>PacoteServlet.CadastrarProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarVendas</servlet-name>
        <servlet-class>PacoteServlet.ListarVendas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarRelatorio</servlet-name>
        <servlet-class>PacoteServlet.ListarRelatorio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarVenda</servlet-name>
        <servlet-class>PacoteServlet.CadastrarVenda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>PacoteServlet.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>PacoteServlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarrinhoServlet</servlet-name>
        <servlet-class>PacoteServlet.CarrinhoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarClientes</servlet-name>
        <servlet-class>PacoteServlet.CadastrarClientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarUsuario</servlet-name>
        <servlet-class>PacoteServlet.CadastrarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlteraCliente</servlet-name>
        <servlet-class>PacoteServlet.AlteraCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlteraProduto</servlet-name>
        <servlet-class>PacoteServlet.AlteraProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarCliente</servlet-name>
        <servlet-class>PacoteServlet.CadastrarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastraProduto</servlet-name>
        <servlet-class>PacoteServlet.CadastraProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarVendas</servlet-name>
        <servlet-class>PacoteServlet.CadastrarVendas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirCliente</servlet-name>
        <servlet-class>PacoteServlet.ExcluirCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirProdutos</servlet-name>
        <servlet-class>PacoteServlet.ExcluirProdutos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaClientes</servlet-name>
        <servlet-class>PacoteServlet.ListaClientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaProdutos</servlet-name>
        <servlet-class>PacoteServlet.ListaProdutos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaRelatorio</servlet-name>
        <servlet-class>PacoteServlet.ListaRelatorio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout_Servlet</servlet-name>
        <servlet-class>PacoteServlet.Logout_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDB</servlet-name>
        <servlet-class>PacoteServlet.ServletDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>PacoteServlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletBD</servlet-name>
        <url-pattern>/ServletBD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarClientes</servlet-name>
        <url-pattern>/ListarClientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarClientes</servlet-name>
        <url-pattern>/EditarClientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarClientes</servlet-name>
        <url-pattern>/AlterarClientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarCliente</servlet-name>
        <url-pattern>/AlterarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirClientes</servlet-name>
        <url-pattern>/ExcluirClientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarProduto</servlet-name>
        <url-pattern>/ListarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarProduto</servlet-name>
        <url-pattern>/AlterarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirProduto</servlet-name>
        <url-pattern>/ExcluirProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarProduto</servlet-name>
        <url-pattern>/CadastrarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarRelatorio</servlet-name>
        <url-pattern>/ListarRelatorio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarVenda</servlet-name>
        <url-pattern>/CadastrarVenda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarrinhoServlet</servlet-name>
        <url-pattern>/CarrinhoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarClientes</servlet-name>
        <url-pattern>/CadastrarClientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarUsuario</servlet-name>
        <url-pattern>/CadastrarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlteraCliente</servlet-name>
        <url-pattern>/AlteraCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlteraProduto</servlet-name>
        <url-pattern>/AlteraProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarCliente</servlet-name>
        <url-pattern>/CadastrarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastraProduto</servlet-name>
        <url-pattern>/CadastraProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarVendas</servlet-name>
        <url-pattern>/CadastrarVendas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirCliente</servlet-name>
        <url-pattern>/ExcluirCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirProdutos</servlet-name>
        <url-pattern>/ExcluirProdutos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaClientes</servlet-name>
        <url-pattern>/ListaClientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaProdutos</servlet-name>
        <url-pattern>/ListaProdutos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaRelatorio</servlet-name>
        <url-pattern>/ListaRelatorio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout_Servlet</servlet-name>
        <url-pattern>/Logout_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDB</servlet-name>
        <url-pattern>/ServletDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/notFound.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/noAccess.jsp</location>
    </error-page>
    <welcome-file-list>
        <welcome-file>Protegido/index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
